.purple{
    color:purple;
}
.navy{
    color:navy;
}
.red{
    color: red;
}
.green{
    color: green;
}
.palevioletred{
    color: palevioletred;
}
.a{
    background-color:skyblue;
    color:blueviolet;
    width: 50%;
    margin: 10px;
}
